<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luminousbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuminousBank">
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuizGame"
            android:exported="false" />
        <activity
            android:name=".StartQuiz"
            android:exported="false" />
        <activity
            android:name=".CurrencyConvert"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".Deposit"
            android:exported="false" />
        <activity
            android:name=".Savings"
            android:exported="false" />
        <activity
            android:name=".MoneySendConfirmation"
            android:exported="false" />
        <activity
            android:name=".MoneySend"
            android:exported="false" />
        <activity
            android:name=".SelectedBankActivity"
            android:exported="false" />
        <activity
            android:name=".BankTransferList"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TermsAndAgreement"
            android:exported="false" />
        <activity
            android:name=".SendBankConfirmation"
            android:exported="false" />
        <activity
            android:name=".SendBank"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".VerifyPhoneNo"
            android:exported="false" />
        <activity
            android:name=".fpSuccessMessage"
            android:exported="false" />
        <activity
            android:name=".SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".fpMakeSelection"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="true" /> <!-- Splash -->
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Home -->
        <activity
            android:name=".Home"
            android:exported="false" /> <!-- Register -->
        <activity
            android:name=".Register"
            android:exported="false" /> <!-- Login -->
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- Used Font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>